.overflow {
  @apply overflow-x-auto;
}

.width {
  @apply w-full
  lg:w-5/6;
}

.background {
  @apply min-h-screen
  bg-gray-100
  flex
  justify-center
  bg-gray-100
  overflow-hidden;
}

.bgtable {
  @apply bg-white
  shadow-md
  rounded
  my-6;
}

.table {
  @apply min-w-max
  w-full
  table-auto;
}

.header-row {
  @apply bg-gray-200
  text-gray-600
  uppercase
  text-sm
  leading-normal;
}

.head {
  @apply py-3
  px-6
  text-center;
}

.body {
  @apply text-gray-600
  text-sm
  font-bold;
}

.body-row {
  @apply border-b
  border-gray-200;
}

.body-row:hover {
  @apply hover:bg-gray-100;
}

.text {
  @apply py-3
  px-6
  text-center;
}

.no-content {
  @apply py-3
  my-6
  text-center;
}

.winner {
  @apply py-3
  px-6
  md:flex
  md:justify-center
  items-center;
}

.winner svg {
  @apply w-5;
}

.button {
  @apply text-green-600
   py-1.5
   px-2.5
   rounded-md
   border
   border-green-800;
}

.button:hover {
  @apply hover:bg-green-300
  hover:text-gray-800;
}

.button:focus {
  @apply focus:outline-none;
}
